name: Publish Docker image

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:



jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    environment: test   
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Test
        env:
          TEST_GITHUB_TOKEN: ${{ secrets.DOCKERHUB_USERNAME }}
          TEST_SECRET: aonna
        run: |
          echo ${#TEST_GITHUB_TOKEN}
          echo ${#TEST_SECRET}
     
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          logout: false
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: <removed>:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
